@media (min-width: 1190px) {
  .projects-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.projects {
  background-color: #001d3d;
  color: black;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 10px;
}
